/* Generated CSS Variables */

:root {
  /* Typography */
  --typography-display-display-large-font-size: 57px;
  --typography-display-display-large-text-decoration: none;
  --typography-display-display-large-font-family: Inter;
  --typography-display-display-large-font-weight: 500;
  --typography-display-display-large-font-style: normal;
  --typography-display-display-large-font-stretch: normal;
  --typography-display-display-large-letter-spacing: -1.71px;
  --typography-display-display-large-line-height: 64px;
  --typography-display-display-large-paragraph-indent: 0;
  --typography-display-display-large-paragraph-spacing: 0;
  --typography-display-display-large-text-case: none;
  --typography-display-display-medium-font-size: 45px;
  --typography-display-display-medium-text-decoration: none;
  --typography-display-display-medium-font-family: Inter;
  --typography-display-display-medium-font-weight: 500;
  --typography-display-display-medium-font-style: normal;
  --typography-display-display-medium-font-stretch: normal;
  --typography-display-display-medium-letter-spacing: -1.575px;
  --typography-display-display-medium-line-height: 52px;
  --typography-display-display-medium-paragraph-indent: 0;
  --typography-display-display-medium-paragraph-spacing: 0;
  --typography-display-display-medium-text-case: none;
  --typography-display-display-small-font-size: 36px;
  --typography-display-display-small-text-decoration: none;
  --typography-display-display-small-font-family: Inter;
  --typography-display-display-small-font-weight: 500;
  --typography-display-display-small-font-style: normal;
  --typography-display-display-small-font-stretch: normal;
  --typography-display-display-small-letter-spacing: -0.9px;
  --typography-display-display-small-line-height: 44px;
  --typography-display-display-small-paragraph-indent: 0;
  --typography-display-display-small-paragraph-spacing: 0;
  --typography-display-display-small-text-case: none;
  --typography-headline-headline-large-font-size: 32px;
  --typography-headline-headline-large-text-decoration: none;
  --typography-headline-headline-large-font-family: Inter;
  --typography-headline-headline-large-font-weight: 500;
  --typography-headline-headline-large-font-style: normal;
  --typography-headline-headline-large-font-stretch: normal;
  --typography-headline-headline-large-letter-spacing: -0.8px;
  --typography-headline-headline-large-line-height: 40px;
  --typography-headline-headline-large-paragraph-indent: 0;
  --typography-headline-headline-large-paragraph-spacing: 0;
  --typography-headline-headline-large-text-case: none;
  --typography-headline-headline-medium-font-size: 28px;
  --typography-headline-headline-medium-text-decoration: none;
  --typography-headline-headline-medium-font-family: Inter;
  --typography-headline-headline-medium-font-weight: 500;
  --typography-headline-headline-medium-font-style: normal;
  --typography-headline-headline-medium-font-stretch: normal;
  --typography-headline-headline-medium-letter-spacing: -0.56px;
  --typography-headline-headline-medium-line-height: 36px;
  --typography-headline-headline-medium-paragraph-indent: 0;
  --typography-headline-headline-medium-paragraph-spacing: 0;
  --typography-headline-headline-medium-text-case: none;
  --typography-headline-headline-small-font-size: 24px;
  --typography-headline-headline-small-text-decoration: none;
  --typography-headline-headline-small-font-family: Inter;
  --typography-headline-headline-small-font-weight: 500;
  --typography-headline-headline-small-font-style: normal;
  --typography-headline-headline-small-font-stretch: normal;
  --typography-headline-headline-small-letter-spacing: -0.432px;
  --typography-headline-headline-small-line-height: 32px;
  --typography-headline-headline-small-paragraph-indent: 0;
  --typography-headline-headline-small-paragraph-spacing: 0;
  --typography-headline-headline-small-text-case: none;
  --typography-title-title-large-font-size: 22px;
  --typography-title-title-large-text-decoration: none;
  --typography-title-title-large-font-family: Inter;
  --typography-title-title-large-font-weight: 700;
  --typography-title-title-large-font-style: normal;
  --typography-title-title-large-font-stretch: normal;
  --typography-title-title-large-letter-spacing: -0.44px;
  --typography-title-title-large-line-height: 28px;
  --typography-title-title-large-paragraph-indent: 0;
  --typography-title-title-large-paragraph-spacing: 0;
  --typography-title-title-large-text-case: none;
  --typography-title-title-medium-font-size: 16px;
  --typography-title-title-medium-text-decoration: none;
  --typography-title-title-medium-font-family: Inter;
  --typography-title-title-medium-font-weight: 700;
  --typography-title-title-medium-font-style: normal;
  --typography-title-title-medium-font-stretch: normal;
  --typography-title-title-medium-letter-spacing: -0.24px;
  --typography-title-title-medium-line-height: 24px;
  --typography-title-title-medium-paragraph-indent: 0;
  --typography-title-title-medium-paragraph-spacing: 0;
  --typography-title-title-medium-text-case: none;
  --typography-title-title-small-font-size: 14px;
  --typography-title-title-small-text-decoration: none;
  --typography-title-title-small-font-family: Inter;
  --typography-title-title-small-font-weight: 700;
  --typography-title-title-small-font-style: normal;
  --typography-title-title-small-font-stretch: normal;
  --typography-title-title-small-letter-spacing: -0.14px;
  --typography-title-title-small-line-height: 20px;
  --typography-title-title-small-paragraph-indent: 0;
  --typography-title-title-small-paragraph-spacing: 0;
  --typography-title-title-small-text-case: none;
  --typography-body-body-large-font-size: 16px;
  --typography-body-body-large-text-decoration: none;
  --typography-body-body-large-font-family: Inter;
  --typography-body-body-large-font-weight: 500;
  --typography-body-body-large-font-style: normal;
  --typography-body-body-large-font-stretch: normal;
  --typography-body-body-large-letter-spacing: -0.32px;
  --typography-body-body-large-line-height: 24px;
  --typography-body-body-large-paragraph-indent: 0;
  --typography-body-body-large-paragraph-spacing: 0;
  --typography-body-body-large-text-case: none;
  --typography-body-body-medium-font-size: 14px;
  --typography-body-body-medium-text-decoration: none;
  --typography-body-body-medium-font-family: Inter;
  --typography-body-body-medium-font-weight: 500;
  --typography-body-body-medium-font-style: normal;
  --typography-body-body-medium-font-stretch: normal;
  --typography-body-body-medium-letter-spacing: -0.21px;
  --typography-body-body-medium-line-height: 20px;
  --typography-body-body-medium-paragraph-indent: 0;
  --typography-body-body-medium-paragraph-spacing: 0;
  --typography-body-body-medium-text-case: none;
  --typography-body-body-small-font-size: 12px;
  --typography-body-body-small-text-decoration: none;
  --typography-body-body-small-font-family: Inter;
  --typography-body-body-small-font-weight: 500;
  --typography-body-body-small-font-style: normal;
  --typography-body-body-small-font-stretch: normal;
  --typography-body-body-small-letter-spacing: -0.12px;
  --typography-body-body-small-line-height: 16px;
  --typography-body-body-small-paragraph-indent: 0;
  --typography-body-body-small-paragraph-spacing: 0;
  --typography-body-body-small-text-case: none;
  --typography-label-label-large-font-size: 14px;
  --typography-label-label-large-text-decoration: none;
  --typography-label-label-large-font-family: Inter;
  --typography-label-label-large-font-weight: 700;
  --typography-label-label-large-font-style: normal;
  --typography-label-label-large-font-stretch: normal;
  --typography-label-label-large-letter-spacing: -0.14px;
  --typography-label-label-large-line-height: 20px;
  --typography-label-label-large-paragraph-indent: 0;
  --typography-label-label-large-paragraph-spacing: 0;
  --typography-label-label-large-text-case: none;
  --typography-label-label-medium-font-size: 12px;
  --typography-label-label-medium-text-decoration: none;
  --typography-label-label-medium-font-family: Inter;
  --typography-label-label-medium-font-weight: 700;
  --typography-label-label-medium-font-style: normal;
  --typography-label-label-medium-font-stretch: normal;
  --typography-label-label-medium-letter-spacing: -0.024px;
  --typography-label-label-medium-line-height: 16px;
  --typography-label-label-medium-paragraph-indent: 0;
  --typography-label-label-medium-paragraph-spacing: 0;
  --typography-label-label-medium-text-case: none;
  --typography-label-label-small-font-size: 11px;
  --typography-label-label-small-text-decoration: none;
  --typography-label-label-small-font-family: Inter;
  --typography-label-label-small-font-weight: 700;
  --typography-label-label-small-font-style: normal;
  --typography-label-label-small-font-stretch: normal;
  --typography-label-label-small-letter-spacing: 0;
  --typography-label-label-small-line-height: 16px;
  --typography-label-label-small-paragraph-indent: 0;
  --typography-label-label-small-paragraph-spacing: 0;
  --typography-label-label-small-text-case: none;

  /* Color Roles - Light */
  --color-primary: hsl(145, 61%, 26%);
  --color-on-primary: hsl(0, 0%, 100%);
  --color-primary-container: hsl(136, 50%, 69%);
  --color-on-primary-container: hsl(150, 100%, 16%);
  --color-secondary: hsl(35, 100%, 27%);
  --color-on-secondary: hsl(0, 0%, 100%);
  --color-secondary-container: hsl(30, 100%, 72%);
  --color-on-secondary-container: hsl(34, 100%, 21%);
  --color-tertiary: hsl(210, 73%, 38%);
  --color-on-tertiary: hsl(0, 0%, 100%);
  --color-tertiary-container: hsl(217, 100%, 82%);
  --color-on-tertiary-container: hsl(208, 100%, 26%);
  --color-error: hsl(0, 7%, 38%);
  --color-on-error: hsl(0, 0%, 100%);
  --color-error-container: hsl(0, 17%, 80%);
  --color-on-error-container: hsl(0, 8%, 29%);
  --color-background: hsl(15, 40%, 98%);
  --color-on-background: hsl(0, 2%, 11%);
  --color-surface: hsl(15, 40%, 98%);
  --color-on-surface: hsl(0, 2%, 11%);
  --color-surface-variant: hsl(45, 7%, 88%);
  --color-on-surface-variant: hsl(80, 2%, 27%);
  --color-outline: hsl(60, 1%, 46%);
  --color-outline-variant: hsl(60, 3%, 77%);
  --color-inverse-surface: hsl(0, 1%, 19%);
  --color-inverse-on-surface: hsl(15, 14%, 95%);
  --color-inverse-primary: hsl(136, 50%, 69%);
  --color-surface-dim: hsl(0, 4%, 86%);
  --color-surface-bright: hsl(15, 40%, 98%);
  --color-surface-container-lowest: hsl(0, 0%, 100%);
  --color-surface-container-low: hsl(15, 18%, 96%);
  --color-surface-container: hsl(0, 9%, 94%);
  --color-surface-container-high: hsl(0, 7%, 91%);
  --color-surface-container-highest: hsl(15, 7%, 89%);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Color Roles - Dark */
    --color-primary: hsl(145, 61%, 26%);
    --color-on-primary: hsl(148, 100%, 11%);
    --color-primary-container: hsl(150, 100%, 16%);
    --color-on-primary-container: hsl(134, 78%, 80%);
    --color-secondary: hsl(30, 100%, 72%);
    --color-on-secondary: hsl(32, 100%, 15%);
    --color-secondary-container: hsl(34, 100%, 21%);
    --color-on-secondary-container: hsl(28, 100%, 87%);
    --color-tertiary: hsl(217, 100%, 82%);
    --color-on-tertiary: hsl(209, 100%, 18%);
    --color-tertiary-container: hsl(208, 100%, 26%);
    --color-on-tertiary-container: hsl(219, 100%, 92%);
    --color-error: hsl(0, 17%, 80%);
    --color-on-error: hsl(0, 11%, 20%);
    --color-error-container: hsl(0, 8%, 29%);
    --color-on-error-container: hsl(0, 40%, 91%);
    --color-background: hsl(0, 2%, 6%);
    --color-on-background: hsl(15, 7%, 89%);
    --color-surface: hsl(0, 2%, 6%);
    --color-on-surface: hsl(15, 7%, 89%);
    --color-surface-variant: hsl(80, 2%, 27%);
    --color-on-surface-variant: hsl(60, 3%, 77%);
    --color-outline: hsl(60, 1%, 56%);
    --color-outline-variant: hsl(80, 2%, 27%);
    --color-inverse-surface: hsl(15, 7%, 89%);
    --color-inverse-on-surface: hsl(0, 1%, 19%);
    --color-inverse-primary: hsl(145, 60%, 26%);
    --color-surface-dim: hsl(0, 2%, 6%);
    --color-surface-bright: hsl(0, 1%, 23%);
    --color-surface-container-lowest: hsl(0, 2%, 4%);
    --color-surface-container-low: hsl(0, 2%, 11%);
    --color-surface-container: hsl(0, 2%, 13%);
    --color-surface-container-high: hsl(0, 1%, 17%);
    --color-surface-container-highest: hsl(0, 1%, 21%);
  }
}
